# Broker
# Porta em que o broker escuta conexões TCP
PORT=:9000

# Tamanho do buffer de mensagens por tópico
BUFFER_SIZE=100

# Load Balancer
LB_PORT=:8080

# Lista de endereços dos brokers disponíveis (separados por vírgula)
BROKERS=localhost:9000,localhost:9001

# Exemplos
# Endereço do load balancer (ou broker direto para testes sem LB)
LB_ADDR=localhost:8080

# Intervalo de busca (segundos)
INTERVALO_CAMBIO=10
INTERVALO_BITCOIN=15
INTERVALO_SELIC=60
